name: Tests
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  mysql-tests:
    name: MySQL tests - Go v${{ matrix.go-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version:
          - "1.16.x"
          - "1.17.x"

    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: pop_test
          MYSQL_PORT: 3307
        ports:
          - 3307:3306
        # needed because the mysql container does not provide a healthcheck
        options: --health-cmd "mysqladmin ping -h localhost" --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - uses: actions/checkout@v3
      - name: Setup Go ${{ matrix.go }}
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}

      - name: Install and run soda
        env:
          SODA_DIALECT: "mysql"
          MYSQL_PORT: 3307
        run: |
          go install -tags sqlite github.com/gobuffalo/pop/v6/soda@latest
          soda drop -e $SODA_DIALECT -p ./testdata/migrations
          soda create -e $SODA_DIALECT -p ./testdata/migrations
          soda migrate -e $SODA_DIALECT -p ./testdata/migrations

      - name: Test
        env:
          SODA_DIALECT: "mysql"
          MYSQL_PORT: 3307
        run: |
          go test -tags sqlite -race ./...

      - name: Reset soda and run e2e
        env:
          SODA_DIALECT: "sqlite"
        run: |
          soda drop -e $SODA_DIALECT -p ./testdata/migrations
          soda create -e $SODA_DIALECT -p ./testdata/migrations
          go test -tags sqlite,e2e -race ./internal/e2e/...

  pg-tests:
    name: PostgreSQL tests - Go v${{ matrix.go-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version:
          - "1.16.x"
          - "1.17.x"

    services:
      postgres:
        image: postgres:14
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - uses: actions/checkout@v3
      - name: Setup Go ${{ matrix.go }}
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}

      - name: Install and run soda
        env:
          SODA_DIALECT: "postgres"
          POSTGRESQL_URL: "postgres://postgres:postgres@${{job.services.postgres.host}}:${{ job.services.postgres.ports[5432] }}/pop_test?sslmode=disable"
        run: |
          go install -tags sqlite github.com/gobuffalo/pop/v6/soda@latest
          soda drop -e $SODA_DIALECT -p ./testdata/migrations
          soda create -e $SODA_DIALECT -p ./testdata/migrations
          soda migrate -e $SODA_DIALECT -p ./testdata/migrations

      - name: Test
        env:
          SODA_DIALECT: "postgres"
          POSTGRESQL_URL: "postgres://postgres:postgres@${{job.services.postgres.host}}:${{ job.services.postgres.ports[5432] }}/pop_test?sslmode=disable"
        run: |
          go test -tags sqlite -race ./...

      - name: Reset soda and run e2e
        env:
          SODA_DIALECT: "sqlite"
        run: |
          soda drop -e $SODA_DIALECT -p ./testdata/migrations
          soda create -e $SODA_DIALECT -p ./testdata/migrations
          go test -tags sqlite,e2e -race ./internal/e2e/...

  crdb-tests:
    name: Cockroach tests - Go v${{ matrix.go-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version:
          - "1.16.x"
          - "1.17.x"

    steps:
      - uses: actions/checkout@v3
      - name: Setup Go ${{ matrix.go }}
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}

      - name: Install Cockroach
        run: |
          mkdir -p crdb
          pushd crdb
          wget -qO- https://binaries.cockroachdb.com/cockroach-v2.1.0.linux-amd64.tgz | tar -xz
          sudo cp -i cockroach-v2.1.0.linux-amd64/cockroach /usr/local/bin/
          cockroach start --insecure --background
          popd

      - name: Install and run soda
        env:
          SODA_DIALECT: "cockroach"
        run: |
          go install -tags sqlite github.com/gobuffalo/pop/v6/soda@latest
          soda drop -e $SODA_DIALECT -p ./testdata/migrations
          soda create -e $SODA_DIALECT -p ./testdata/migrations
          soda migrate -e $SODA_DIALECT -p ./testdata/migrations

      - name: Test
        env:
          SODA_DIALECT: "cockroach"
        run: |
          go test -tags sqlite -race ./...

      - name: Reset soda and run e2e
        env:
          SODA_DIALECT: "sqlite"
        run: |
          soda drop -e $SODA_DIALECT -p ./testdata/migrations
          soda create -e $SODA_DIALECT -p ./testdata/migrations
          go test -tags sqlite,e2e -race ./internal/e2e/...

  sqlite-tests:
    name: SQLite tests ${{ matrix.os }} - Go v${{ matrix.go-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        go-version:
          - "1.16.x"
          - "1.17.x"
        os:
          - "macos-latest"
          - "windows-latest"
          - "ubuntu-latest"

    steps:
      - name: Install sqlite3
        run: choco install sqlite
        if: matrix.os == 'windows-latest'

      - uses: actions/checkout@v3
      - name: Setup Go ${{ matrix.go }}
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}

      - name: Install and run soda
        env:
          SODA_DIALECT: "sqlite"
        run: |
          go install -tags sqlite github.com/gobuffalo/pop/v6/soda@latest
          soda drop -e $SODA_DIALECT -p ./testdata/migrations
          soda create -e $SODA_DIALECT -p ./testdata/migrations
          soda migrate -e $SODA_DIALECT -p ./testdata/migrations
        shell: bash

      - name: Test
        env:
          SODA_DIALECT: "sqlite"
        run: |
          go test -tags sqlite -race ./...
        shell: bash

      - name: Reset soda and run e2e
        env:
          SODA_DIALECT: "sqlite"
        run: |
          soda drop -e $SODA_DIALECT -p ./testdata/migrations
          soda create -e $SODA_DIALECT -p ./testdata/migrations
          go test -tags sqlite,e2e -race ./internal/e2e/...
        shell: bash
